body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(5,85,130);
    background: linear-gradient(146deg, rgba(5,85,130,1) 44%, rgba(0,206,255,1) 100%);
}

.form-login {
    flex-basis: 450px;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}

.login-card .card-footer {
    display: flex;
    justify-content: flex-end;
}

